h1{
    text-align: center;
    color: #ff852e;
    font-weight: 600;

}
img{
    margin-left: 35%;
    border-radius: 20%;
}
.view{
    flex-wrap: wrap;
    width: 350px;
    height: 50px;
    padding: 8px;
    margin: 15px;
    color: #162938;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
}
.rcorner{
    background-color:  transparent;
    font-size: 1.2em;
    color: #ff852e;
    border-radius: 10px;
    padding: 5px;
    margin: 5px ;
    width: 25%;
    height: 45px;
    outline: none;
    cursor: pointer;
    font-weight: 600; 
    float: right;
    margin-right: 30px;
    border: 2px solid black;
    margin-top: 20px;
}